.thumbnail
  %img{:src => @photo[:url], :title => @photo[:title], :alt => @photo[:title]}
  .caption
    .creativecommons
      = flickr_photo_backlink @photo
      = license_link @photo
    This photo was selected and committed by our hardworking
    %a{:href => 'https://github.com/koideploy/commit-bot', :target => '_blank'}
      commit bot.

%ul#releases.unstyled
  - @releases.each do |release|
    %li.release
      %h4 Heroku Release #{release.name}
      %p= release.commit_message
      .info
        Triggered by #{link_to "Travis CI Build ##{release.travis_ci_build_number}", release.travis_ci_build_url, :target => '_blank'} for commit #{commit_link(release.commit)}
        %span.created_at #{time_ago_in_words release.created_at} ago.
