!!! 5
%html
  %head
    %title Koi Deploy Showcase
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = render 'shared/google_analytics'
  %body{:class => 'showcase'}
    %header.row
      %section.container
        .span8.offset2
          %h1  #{link_to 'Koi Deploy', 'https://koideploy.com'} Showcase
          %p Continuously deployed via Travis CI and #{link_to 'KoiDeploy.com', 'https://koideploy.com'} since 2012-10-21.
    .row
      %section.container
        .span8.offset2
          = yield
    %footer.row
      %section.container
        .span8.offset2.muted
          %small.pull-left
            A demo project by
            %a{:href => 'http://koideploy.com'} koideploy.com
